.movie-list-container {
  .movie-list-container--header {
    color: #fff;
  }
  .movie-list-container--movie {
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: .2s transform;
    }
  }
}
